ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: var(--navbar-height);
    /* Make the div full width */
    left: 0;
    right: 0;

    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-style: solid;
    border-width: 2px;   
}

ul li {
    justify-content: center;
}

ul li a {
    display: block;
    justify-self: auto;
    color: white;
    font-size: clamp(1.5rem, 4vw, 2rem);
    white-space: nowrap;
}

ul li a:hover {
    color: greenyellow
}